<div class="debug">book-title.hbs</div>

{{#link-to 'book' book.id}}{{book.title}} - {{book.author}} ({{book.genre}}) - ${{book.cost}}{{/link-to}}

<!-- {{#link-to "book-detail" }} -->

  <!-- Title: {{book.title}}<br>
  Author: {{book.author}}<br>
  Genre: {{book.genre}} -->


<!-- {{/link-to}} -->
